footer {

    background-color: #00669f;
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
    font-size: 22px;
    padding-top: 16px;

}

.form-content-item{
    display: grid;
    
}