body{
    margin: 0px;
    font-family: sans-serif;
}
/*Header*/ 
.descuento {
    background-color: #1cd1b0;
    font-family: sans-serif;
    height: 20px;
    padding: 2px 13px 2px 16px;
    margin: auto;

}

.tienda {
    background-color: #00669f;
    display: flex;
    width: 100%;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    
}
h3{
    margin-top: 27px;
    margin-left: 13px;
}

/*Formulario*/

form {
    padding-top: 150px;
    padding-left: 700px;
}

input {
    display: block;
    width: 500px;
    height: 40px;
    margin-bottom: 10px;
    border-color: black;

}

.Login {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #333;

}

button {
    width: 500px;
    border-radius: 50px;
    height: 40px;
    background-color:#1CD1B0;
    border-color: #1cd1b0;
    font-weight: bold;
    margin-top: 40px;
} 

.cuenta {
    padding-left:125px ;
}

/*Footer*/

footer {

    background-color: #00669f;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
    font-size: 22px;
    padding-top: 16px;

}

