body{
    margin: 0px;
    font-family: sans-serif;
}
/*Header*/ 
.descuento {
    background-color: #1cd1b0;
    font-family: sans-serif;
    height: 20px;
    padding: 2px 13px 2px 16px;
    margin: auto;

}

.tienda {
    background-color: #00669f;
    display: flex;
    width: 100%;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    
}
h3{
    margin-top: 27px;
    margin-left: 13px;
}

/*Formulario */

form {
    padding-top:80px ;
    padding-left: 700px;

}
.register {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #333;

}

input {
    display: block;
    width: 500px;
    height: 40px;
    margin-bottom: 10px;
    border-color: black;

}

select {
    display: block;
    width: 500px;
    height: 40px;
    margin-bottom: 10px;
    border-color: black;
}

button {
    margin-top: 20px;
    height: 40px;
}

.resetear{
    background-color: #888888;
    border-radius: 50px;
    color: white;
    width: 240px;
}

.enviar {
    background-color: #1cd1b0;
    border-radius: 50px;
    color: black;
    width: 240px;

}





.registrado {
    padding-left:125px ;
}


/*Footer*/

footer {

    background-color: #00669f;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
    font-size: 22px;
    padding-top: 16px;

}