/*https://www.figma.com/file/NzdP5AErhP4nblWjy9NIX5/Untitled?node-id=1%3A2*/
body {    
    margin: 0 !important;
    padding: 0 !important;
}
*{
    box-sizing: border-box;
}

.descuento{
    display: block;
    font-family: sans-serif;
    font-size: 35;
    background: #1CD1B0;
    text-indent: 20px;
    margin: 0 auto;
}

h1{
    position: fixed;
    background: #00669F;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: #FFFFFF;
    text-indent: 10px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    margin-top: 0px;
    padding:10px
}

main{
    margin-left: 400px;
    margin-right: 400px;
}

.cards_super{
    margin: 0 auto;
}

.card_header{
    margin-bottom: 50px;
}

.imagen_corazon{
    background-image: url(../img/corazon.png);
    top: 5%;
    left: 5%;
}

.fondo{
    background: #FFFFFF;
}

.batman_fondo{
    position: absolute;
    width: 400;
    height: 250px;
    background-image: url('../img/bg-batman.jpg');
    background-size:cover;
    box-sizing: border-box;
}


.batman_imagen{
    position: absolute;
    width: 102px;
    height: 51px;
    left: 46px;
    top: 57px;
    
    background: url('../img/batman.jpg');
}

article{
    margin: 20px;
}

.boton_ver{
    position: absolute;
    width: 346px;
    height: 114px;
    left: 855px;
    top: 1452px;

    background: #00669F;
    border-radius: 7px;
}


/*.footer{

    position: absolute;
    width: 2056px;
    height: 162px;
    left: 0px;
    top: 5102px;

    background: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}*/
