/*https://www.figma.com/file/NzdP5AErhP4nblWjy9NIX5/Untitled?node-id=1%3A2*/
body {
  margin: 0;
  padding: 0 !important;
  font-family: sans-serif;
  position: relative;
}

h2 {
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
}
p {
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.descuento {
  font-family: sans-serif;
  font-size: 35;
  background: #1cd1b0;
  text-indent: 20px;
  top: 0;
  width: 100%;
  height: 45px;
  z-index: 2;
  position: absolute;
}

h1 {
  
  background: #00669f;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: #ffffff;
  text-indent: 15px;
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
  margin-top: 26px;
  width: 100%;
 
}

.cards_super{
    margin-top: 150px;

}
header{
    top: 0;
    width: 100%;
    position: sticky;
    z-index: 2;
}

.card_header {
  margin-bottom: 50px;
  position: relative;
}

i {
  position: absolute;
  color: red;
  top: 5%;
  left: 5%;
  font-size: 2em;
}

.back-card {
  border-radius: 15px 15px 0 0;
  height: 200px;
  /*position: absolute;
    width: 400;
    height: 250px;
    background-image: url('../img/bg-batman.jpg');
    background-size:cover;
    box-sizing: border-box;*/
}

.super {
  width: 150px;
  height: 150px;
  border: 50%;
  position: absolute;
  top: 150px;
  left: 35%;
  border-radius: 70px;
}

.tarjeta {
    position: relative;
    background: #f3f3f3;
    margin: 20px auto;
    width: 500px;
}

.back {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.batman_imagen {
  background-image: url(../img/batman.jpg);
}

.img-back-card-1 {
  background-image: url(../img/bg-batman.jpg);
}

.mujermaravilla_imagen {
  background-image: url(../img/wonderw.jpg);
}

.img-back-card-2 {
  background-image: url(../img/bg-wonderw.jpg);
}

.superman_imagen {
  background-image: url(../img/superman.jpg);
}

.img-back-card-3 {
  background-image: url(../img/bg-superman.jpg);
}
.card_body {
  padding: 10% 0% 2%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.boton_ver {
    text-align: center;
    width: 100px;
    height: 50px;
    margin: auto;
    background: #00669f;
    border-radius: 7px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.footer {
  color: #fff9f9;
  position: relative;
  display: flex;
  width: 100%;
  height: 50px;
  background: #00669f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer_description {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#iconoGithub {
  height: 70%;
  right: 15px;
  top: 17%;
  position: absolute;
}
