header, h2 {font-family:'Gill Sans'}
ul, dl{ font-family:'Segoe UI'}
h2,h1 {text-transform: uppercase; }

#fondo-y-orientacion-imagen-perfil
{
    background-color: rgb(213, 215, 219);
    text-align: center;    
}
#imagenDePerfil
{   
    display: block;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 15;
    width: 17%;
}

#tituloCurriculum
{   
    background-color: rgb(198, 199, 202);
    color: rgb(54, 83, 128);   
    font-weight: 550;
    font-size: 25;
    letter-spacing: 10px;
    padding: 10;
    text-align: center;
    word-spacing: 20px;
}

#mainDatos{
    padding-top: 20;
    text-align: left; 
    padding-left: 30%;
    padding-right: 30%;
}

h2 {
    font-size: 15;
    color: brown;
    background-color: rgb(198, 199, 202);  
    letter-spacing: 10px;
}

.tituloDatos{
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;

}

footer{
    font-family:'Segoe UI';
    color: azure;
    text-align: center;
    background-color: rgb(54, 83, 128);
  
}

#iconoLinkedin
{
    vertical-align: middle;
    height: 20;
    width: 20;
}

#iconoGithub
{    vertical-align: middle;
    height: 45;
    width: 45;
}
